/**
* ----------------------------------------
* global styles
* ----------------------------------------
*/
:root {
  --primary-font: 'DIN OT';
  --secondary-font: 'DIN Alternate';
  --bg-primary-color: #ffffff;
  --bg-secondary-color: #041C2C;
  --accent-primary-color: #1ECAD3;
  --text-primary-color: #cfcece;
  --text-secondary: #1e1c1b;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: var(--bg-primary-color);
}

html {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr;
}

h1,
h2,
h3,
ul,
li,
p,
a {
  margin: 0;
  padding: 0;
  list-style: none;
}

@font-face {
  font-family: "DIN OT";
  src: url('../fonts/Dinot-Font/DINOT-Medium/DINOT-Medium.ttf');
  font-weight: normal;
  font-style: normal;
}