.container {
  height: 100vh;
  width: 100vw;
  background-color: var(--bg-secondary-color);
  display: flex;
  flex-flow: row nowrap;
}

.animationWrapper {
  /* border: solid 2px blue; */
  overflow: hidden;
  flex-basis: 60%;
}

.formWrapper {
  /* border: solid 2px red; */
  flex-basis: 40%;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.title {
  width: 40%;
}

.subHeader {
  color: var(--accent-primary-color);
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 20px;
  line-height: 160%;
  /* identical to box height, or 32px */

  text-align: right;
  letter-spacing: 0.15px;
}

.form {
  /* border: solid red 2px; */
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 20px;
}

.formFields {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 0.5rem;
}



.formFields > input {
  border: solid 0.5px #445461;
  background-color: var(--bg-secondary-color);
  width: 15vw;
  border-radius: 0.3rem;
  padding: 0.7rem;
}

.formFields > button {
  background-color: var(--accent-primary-color);
  width: 168px;
  height: 42px;
  margin-top: 1.2rem;

  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px rgba(0, 0, 0, 0.14), 0px 1px 5px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  border: none;
}
